@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(26, 26, 28);
  overflow: hidden;
}

.do-scroll {
  overflow: auto !important;
}

.bg-gray {
  background-color: rgb(26, 26, 28);
}

.bg-dimm {
  background-color: rgb(111, 34, 50);
}

.bg-mid {
  background-color: rgb(149, 7, 65);
}

.bg-hi {
  background-color: rgb(195, 8, 63);
}

.bg-textcolmain {
  background-color: rgb(202, 233, 234);
}

.bg-textcoldimm {
  background-color: rgb(149, 171, 172);
}

.bordercol-gray {
  border-color: rgb(26, 26, 28);
}

.bordercol-dimm {
  border-color: rgb(111, 34, 50);
}

.bordercol-mid {
  border-color: rgb(149, 7, 65);
}

.bordercol-hi {
  border-color: rgb(195, 8, 63);
}

.bg-loading {
  background-color: #4d4d4d80;
}


.textcol-main {
  color: rgb(202, 233, 234);
}

.textcol-dimm {
  color: rgb(149, 171, 172);
}

.textcol-bgmid {
  color: rgb(149, 7, 65);
}

.textcol-bghi {
  color: rgb(195, 8, 63);
}

.flexgap {
  display: flex;
  gap: 10px;
}

.pten {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .flexgap {
    gap: 5px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(122, 37, 55) rgb(13, 3, 6);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(13, 3, 6);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(122, 37, 55);
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.15s ease-out forwards;
}

.h-dvh {
  height: 100vh;
  height: 100dvh;
}

.inputheight {
  height: 45px;
  min-height: 45px;
  max-height: 45px;
}


.summary-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-rows: repeat(3, 120px);
  gap: 10px 10px;
  max-width: 1000px;
  @apply textcol-main font-semibold;
}

.summary-grid-mobile {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(9, minmax(60px, 1fr));
  grid-template-rows: repeat(2, 120px);
  gap: 10px 10px;
  @apply textcol-main font-semibold;

}

.grid-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 25px;

  @media(max-width:1180px) {
    padding-top: 15px;
  }
}


.list {
  width: 100% !important;
}

.listgradient {
  background: rgb(100, 31, 45);
  background: linear-gradient(0deg, rgba(100, 31, 45, 0.6866947462578781) 0%, rgba(31, 31, 31, 0) 100%);
}


.textcolhover{
  @apply textcol-dimm;
  transition: all 0.3s;
}

.textcolhover:hover{
  @apply textcol-main;
}

